@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="equipment text-center">
    <h1 class="display-4">Equipment</h1>
    <div class="row">
        <div class="col-7 name">
            <span>Equipment</span>
        </div>
        <div class="col-2 type">
            <span>Type</span>
        </div>
        <div class="col-2 points">
            <span>Loyalty Points</span>
        </div>
        <div class="col-1 add-button">

        </div>
    </div>
    <div class="content">

    </div>
</div>

@section Scripts{ 
    <script type="text/javascript" src="js/equipment.js"></script>
}
